body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #29292c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/elephant.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

a{
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
}

* {
   box-sizing: border-box;
}
.container{
  margin: 0 auto;
   width: 1140px;
}
 .header {
    height: 120px;
    position: relative;
    margin-bottom: 156px;
 }

 .logo{
   display: block;
   position: relative
   top: 44px;  top: 57px;
   left: 0;
 }

 .menu {
   position: absolute;
   top: 47px;
   left: 261px;
 }

 .contacts {
  position: absolute;
  top: 30px;
  right: 0;
  font-style: normal;   
  text-align: right;
}
.contacts_phone{
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}
.contacts__dropdown-title{
font-size: 13px;
text-decoration: underline;  
 
}

 .contacts__desk {
   color: #999;
   font-size: 11px;
 }

.menu_list{
  display: block;
}
.menu_item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.menu_item--active :link{
  color: hsl(234, 92%, 59%);    
}

.menu_item:last-child{
    margin-right: 0;
}



.menu_link{
  font-size: 14px;
  text-decoration: none;
}

.menu_link :hover {
  color: #dfb56d;
}


.hero__text-section {
width: 400px;
height: 144px;

}

.hero-title{
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 18px;
}

.hero__subtitle{
  font-size: 18px;
  color: #dfb56d; 
  margin-bottom: 44px;
}

.btn{
  background: #F5170E;
  border-radius: 50px;
  padding: 17px 38px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.btn:hover{
background:  #F5170E;
box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15);
}

.section{
   margin-bottom: 138px;
}

.section__title{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 45px;
}

.tours__item{
  min-height: 470px;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 22px;
  width: 362px;
  color: #010001;
}

.tours__item:last-child{
margin-right: 0;
}


.tours__header{
  min-height: 162px;
  margin-bottom: 45px; 
  position: relative;
}

.tours__cover{
display: block;


}


.tours__content {
padding: 36px 30 px; 

}

.tours__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.tours__iconed-title{
  display: inline-block;
  vertical-align: top;
  width: 115px;
  margin-right: 30px;
}

.tours__item:last-child {
  margin-right: 0;
}

.tours__iconed {
  font-size: 36px;
  display: inline-block;
}

.tours__btn-wrapper{
  text-align: center;
}

.news__item_action__item_super{
  width: 555px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.news__cover{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .4;
}

.news__date{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.news{
  margin-bottom: 55px;
}

.pager{
  text-align: center;
}

.pager__display{
  display: inline-block;
  vertical-align: middle;
  margin-right: 26px;
}

.pager__list{
  display: inline-block;
  vertical-align: middle;
}

.pager__item{
  display: inline-block;
  vertical-align: middle;
}
 
.pager__link{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.about:before{
  content: "";
  display: block;
  width: 488px;
  height: 502px;
  background-image: url("./img/gates.png");
  background-size: cover;
  background-position: center;

}
.footer {
  height: 152px;
  position: relative;
}

.socials {
  top: 53px;
  margin-right: 10px;
}
}

.socials__item {
  display:inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  display:inline-block;
  vertical-align: middle;

}